node_modules/
vendor/
public/hot
public/storage/
public/uploads/videos/
public/uploads/photos/
public/assets/
public/node_modules
storage/framework/views/
storage/*.key
bower_components/
bootstrap/cache/
.idea
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.live
.env.stage
_ide_helper.php
.phpstorm.meta.php
public/mix-manifest.json
resources/assets/images/home/
resources/assets/images/fancy/
resources/assets/js/vendor/jquery-2.2.2.js
storage/google-analytics.p12
resources/mix-manifest.json
resources/assets/css/vendor.css
yarn.lock
.editorconfig
.eslintignore
.eslintrc.js
